<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>angular spinner demo</title>

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-spinner/dist/angular-spinner.js"></script>
  <!-- <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script> -->

  <script src="./index.js"></script>
</head>

<body ng-app="myapp">
  <div ng-controller="MyController">
      <input type="button" ng-click="startSpin()" value="Start spinner" />
      <input type="button" ng-click="stopSpin()" value="Stop spinner" />

      <input type="button" ng-click="fetch()" value="Fetch" />

      <os-loading-indicator></os-loading-indicator>

      <pre>{{ tasks | json:2 }}</pre>
  </div>
</body>
</html>